<div>
    <div>
        <a href="/">Express Movies</a>
        <a href="/movies">Films</a>
        &nbsp;
        <a href="/movie-search">Recherche</a>
        &nbsp;
        <span id="connectionLink"><a href="/login">Se connecter</a></span>
    </div>
</div>