<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login page</title>
</head>

<body>
    <%- include('./partials/header') %>

        <div class="container">
            <h1>
                <%= title %>
            </h1>
            <br>
            <div id="login">
                <form>
                    <legend>Veuillez saisir vos identifiants</legend>
                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                    <label for="password">mot de passe</label>
                    <input type="password" name="password" id="password">
                    <button type="submit">connexion</button>
                </form>
            </div>

            <div id="profile" style="display: none;">
                <button id="discon">Se déconnecter</button>
                <button id="displaypayload">Voir le payload</button>
                <div id="decodedpayload"></div>
                <div>
                    <a href="#" id="member-only">Member only</a>
                </div>
            </div>

        </div>

        <%- include('./partials/footer') %>
        <script src="/static/axios.min.js"></script>
        <script>
            var form = document.querySelector('form');
            form.addEventListener("submit", loginUser);

            const loginArea = document.querySelector('#login')
            const profileArea = document.querySelector('#profile')
            const discon = document.querySelector('#discon')
            const connectionLinkArea = document.querySelector('#connectionLink');

            const displayPayload = document.querySelector('#displaypayload')

            const memberOnly = document.querySelector('#member-only')

            if (localStorage.getItem('token')) {
                connectionLinkArea.innerHTML = '<a href="/login">déconnexion</a>';
                loginArea.style.display = "none"
                profileArea.style.display = "block"
            } else {
                connectionLinkArea.innerHTML = '<a href="/login">connexion</a>';
                loginArea.style.display = "block"
                profileArea.style.display = "none"
            }

            function loginUser(event) {
                event.preventDefault();
                console.log('loginUser');

                var email = document.getElementById('email').value;
                var password = document.getElementById('password').value;

                axios.post('/login', {
                    email: email,
                    password: password
                })
                    .then(function (response) {
                        var token = response.data;
                        localStorage.setItem('token', token);
                        loginArea.style.display = "none"
                        profileArea.style.display = "block"
                        connectionLinkArea.innerHTML = '<a href="/login">déconnexion</a>';

                        form.reset();
                    })
                    .catch(function (error) {
                        console.error('There was an error logging in:', error);
                    });
            }

            discon.addEventListener('click', () => {
                loginArea.style.display = "block"
                profileArea.style.display = "none"
                localStorage.removeItem('token')
                connectionLinkArea.innerHTML = '<a href="/login">connexion</a>';
            })

            function parseJwt(){
                let token = localStorage.getItem('token')

                if(token){
                    var payload = token.split('.')[1]
                    return JSON.parse(window.atob(payload))
                } else {
                    return "No token"
                }
            }

            displayPayload.addEventListener('click', () => {
                let payload = parseJwt()
                let decodedPayload = document.querySelector('#decodedpayload')
                decodedPayload.innerHTML = `<pre> ${JSON.stringify(payload)} </pre>`
            })

            function requestWithToken (e) {
                e.preventDefault()

                let page = this.id
                let token = localStorage.getItem('token')
                let config = {}

                if(token){
                    config.headers = {'Authorization':`Bearer ${token}`}
                }

                axios.get(
                    `/${page}`,config
                ).then((res) => {
                    console.log("success");
                    console.log(res)
                }).catch((error) => {
                    console.error("Request failed ",error)
                })
            }

            memberOnly.addEventListener('click',requestWithToken)

        </script>
</body>

</html>